{% extends "base_site.html" %}
{% load i18n image_filters shop_utils %}
{% load firstof from future %}

{% block bodyclass %}{{ block.super }} Subscribe{% endblock %}

{% block window_title %}
{% endblock window_title %}



{% block before_article %}


{% endblock before_article %}

{% block article %}


{% endblock article%}

{% block aside %}
<h6>Your Account</h6>
<ol>
  <li><b>{{user.email}}</b></li>
  <li><a href="/subscribe/">home</a></li>
  <li><a href="/subscribe/logout/">logout</a></li>
</ol>
{% endblock aside %}



{% block extrascript %}
  {{ block.super }}
  <style type="text/css">
  .errorlist{
    color:red;
  }
  </style>
{% endblock extrascript %}